services:
    web:
        container_name: lyn-frontend
        build: 
            context: .
            dockerfile: Lyn.Web/Dockerfile
            args:
                - BACKEND_URL=${BACKEND_URL}
        ports: 
            - "7000:80"
       
        depends_on:
            - backend
        networks:
            - lyn-network
        restart: unless-stopped

    backend:
        container_name: lyn-backend
        build:
            context: .
            dockerfile: Lyn.Backend/Dockerfile
        ports:
            - "8000:8080"
        environment:
                - ASPNETCORE_ENVIRONMENT=Development
                - Cors__AllowedOrigins__0=${CORS_ALLOWED_ORIGIN}
                - ConnectionStrings__DefaultConnection=Host=database;Port=5432;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
                - JwtSettings__Key=${JWT_KEY}
                - JwtSettings__Issuer=${JWT_ISSUER}
                - JwtSettings__Audience=${JWT_AUDIENCE}
                - JwtSettings__TokenValidityMinutes=${JWT_TOKEN_VALIDITY_MINUTES}
                - AdminUser__Email=${ADMIN_USER_EMAIL}
                - AdminUser__Password=${ADMIN_USER_PASSWORD}
                - Resend__ApiKey=${RESEND_API_KEY}
        depends_on:
            database:
                condition: service_healthy
        networks:
            - lyn-network
        restart: unless-stopped
        healthcheck:
            test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8080/health || exit 1"]
            interval: 10s
            timeout: 10s
            retries: 3
            start_period: 40s

    database:
            container_name: lyn-database
            image: postgres:18-alpine
            environment:
                POSTGRES_DB: ${POSTGRES_DB}
                POSTGRES_USER: ${POSTGRES_USER}
                POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            ports:
              - "5400:5432"
            volumes:
                - postgres_data:/var/lib/postgresql/data
            networks:
                - lyn-network
            healthcheck:
              test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
              interval: 10s
              timeout: 10s
              retries: 5




networks:
    lyn-network:
        driver: bridge

volumes:
  postgres_data: