<div class="spinner-container">
    <div class="spinner-yellow"></div>
    @if (!string.IsNullOrEmpty(Message))
    {
        <p class="text-theme-primary spinner-message">@Message</p>
    }
</div>

@code {
    [Parameter]
    public string? Message { get; set; }
}